name: CI

on:
  push:
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        color: ["orange"]
        store: ["fdroid", "github", "google"]
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Gradle Build Action
        uses: gradle/gradle-build-action@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: ktlint
        run: ./gradlew clean ktlintCheck

      - name: Regular lint ${{ matrix.color }}${{ matrix.store }}Debug
        run: ./gradlew app:lint${{ matrix.color }}${{ matrix.store }}Debug

      - name: Test ${{ matrix.color }}${{ matrix.store }}DebugUnitTest checks:test
        run: ./gradlew app:test${{ matrix.color }}${{ matrix.store }}DebugUnitTest checks:test

      - name: Build ${{ matrix.color }}${{ matrix.store }}Debug
        run: ./gradlew app:build${{ matrix.color }}${{ matrix.store }}Debug
